@model TwoFootball.Models.Partida

@{
    ViewData["Title"] = "Cadastrar";
}

<form class="form" id="form" asp-controller="Partida" asp-action="Cadastrar" method="POST">
    <label for="TimeDaCasa">Time da Casa: </label>
    <input type="text" id="TimeDaCasa" name="TimeDaCasa" asp-for="@Model.TimeDaCasa">
    <span asp-validation-for="@Model.TimeDaCasa" class="text-danger"></span>

    <label for="TimeVisitante">Time Visitante: </label>
    <input type="text" id="TimeVisitante" name="TimeVisitante" asp-for="@Model.TimeVisitante">
    <span asp-validation-for="@Model.TimeVisitante" class="text-danger"></span>

    <label for="Data">Data: </label>
    <input type="datetime-local" id="Data" name="Data" asp-for="@Model.Data">
    <span asp-validation-for="@Model.Data" class="text-danger"></span>

    <input type="submit" value="Cadastrar">
</form>