@model TwoFootball.Models.Partida
@{
    ViewData["Title"] = $"Partida do time mandante: {Model.TimeDaCasa}";
}
<h1>@ViewData["Title"]</h1>

<p><b>Id: </b>@Model.Id</p>
<p><b>Time da Casa: </b>@Model.TimeDaCasa</p>
<p><b>Time Visitante: </b>@Model.TimeVisitante</p>
<p><b>Estádio: </b>@Model.Estadio</p>
<p><b>Data: </b>@Model.Data</p>