@model TwoFootball.Models.Jogador

@{
    ViewData["Title"] = "Cadastrar";
}

<form class="form" id="form" asp-controller="Jogador" asp-action="Cadastrar" method="POST">
    <label for="Nome">Nome: </label>
    <input type="text" id="Nome" name="Nome" asp-for="@Model.Nome">
    <span asp-validation-for="@Model.Nome" class="text-danger"></span>

    <label for="Posicao">Posicao: </label>
    <select name="Posicao" id="Posicao" asp-for="@Model.Posicao">
        <option value="Goleiro">Goleiro</option>
        <option value="Zagueiro">Zagueiro</option>
        <option value="Lateral">Lateral</option>
        <option value="Volante">Volante</option>
        <option value="Ala">Ala</option>
        <option value="Meia">Meia</option>
        <option value="Ponta">Ponta</option>
        <option value="Centroavante">Centroavante</option>
    </select>
    <span asp-validation-for="@Model.Posicao" class="text-danger"></span>

    <label for="Numero">Numero: </label>
    <input type="number" id="Numero" name="Numero" asp-for="@Model.Numero">
    <span asp-validation-for="@Model.Numero" class="text-danger"></span>

    <label for="CopasParticipadas">Copas Participadas: </label>
    <input type="number" id="CopasParticipadas" name="CopasParticipadas" asp-for="@Model.CopasParticipadas">
    <span asp-validation-for="@Model.CopasParticipadas" class="text-danger"></span>

    <label for="Nacionalidade">Nacionalidade: </label>
    <input type="text" id="Nacionalidade" name="Nacionalidade" asp-for="@Model.Nacionalidade">
    <span asp-validation-for="@Model.Nacionalidade" class="text-danger"></span>

    <input type="submit" value="Cadastrar">
</form>

    