@model TwoFootball.Models.Grupo

@{
    ViewData["Title"] = "Cadastrar";
}

<form class="form" id="form" asp-controller="Grupo" asp-action="Cadastrar" method="POST">
    <label for="Nome">Nome: </label>
    <input type="text" id="Nome" name="Nome" asp-for="@Model.Nome">
    <span asp-validation-for="@Model.Nome" class="text-danger"></span>

    <label for="Pote1">Pote 1: </label>
    <input type="text" id="Pote1" name="Pote1" asp-for="@Model.Pote1">
    <span asp-validation-for="@Model.Pote1" class="text-danger"></span>

    <label for="Pote2">Pote 2: </label>
    <input type="text" id="Pote2" name="Pote2" asp-for="@Model.Pote2">
    <span asp-validation-for="@Model.Pote2" class="text-danger"></span>

    <label for="Pote3">Pote 3: </label>
    <input type="text" id="Pote3" name="Pote3" asp-for="@Model.Pote3">
    <span asp-validation-for="@Model.Pote3" class="text-danger"></span>

    <label for="Pote4">Pote 4: </label>
    <input type="text" id="Pote4" name="Pote4" asp-for="@Model.Pote4">
    <span asp-validation-for="@Model.Pote4" class="text-danger"></span>

    <input type="submit" value="Cadastrar">
</form>