@model TwoFootball.Models.Grupo
@{
    ViewData["Title"] = $"Grupo {Model.Nome}";
}
<h1>@ViewData["Title"]</h1>

<p><b>Id: </b>@Model.Id</p>
<p><b>Nome: </b>@Model.Nome</p>
<p><b>Pote 1: </b>@Model.Pote1</p>
<p><b>Pote 2: </b>@Model.Pote2</p>
<p><b>Pote 3: </b>@Model.Pote3</p>
<p><b>Pote 4: </b>@Model.Pote4</p>