@model IEnumerable<TwoFootball.Models.Time>
@{
    ViewData["Title"] = "Times";
}
<h1>@ViewData["Title"]</h1>

@if(Model.Count() == 0)
{
    <p>Nenhum time cadastrado</p>
    <a class="btn btn-outline-dark" asp-controller="Time" asp-action="Cadastrar">Cadastre um novo time</a>
}
else
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>País</th>
                <th>Patrocinador</th>
                <th>Títulos</th>
                <th>Jogador De Destaque</th>
                <th>Confederação</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var time in Model)
            {
                <tr>
                    <td>@time.Id</td>
                    <td>@time.Pais</td>
                    <td>@time.Patrocinador</td>
                    <td>@time.Titulos</td>
                    <td>@time.JogadorDeDestaque</td>
                    <td>@time.Confederacao</td>
                    <td>
                        <a class="btn btn-outline-info" asp-controller="Time" asp-action="Show" asp-route-id="@time.Id">Ver</a>
                        <a class="btn btn-outline-light" asp-controller="Time" asp-action="Update" asp-route-id="@time.Id">Update</a>
                        <a class="btn btn-outline-danger" asp-controller="Time" asp-action="Delete" asp-route-id="@time.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-outline-dark" asp-controller="Time" asp-action="Cadastrar">Cadastre um novo time</a>
}