@model TwoFootball.Models.Time
@{
    ViewData["Title"] = "Atualizar Time";
}
<h1>@ViewData["Title"]</h1>

<p>Utilize o formulário para Atualizar o time</p>

<form class="form" asp-controller="Time" asp-action="Update" asp-route-id="@Model.Id" method="POST">
    @* Não pode alterar o ID *@
    
    <label for="Pais">Pais: </label>
    <input type="text" id="Pais" name="Pais" value="@Model.Pais" asp-for="@Model.Pais">
    <span asp-validation-for="@Model.Pais" class="text-danger"></span>

    <label for="Patrocinador">Patrocinador: </label>
    <select name="Patrocinador" id="Patrocinador" asp-for="@Model.Patrocinador" value="@Model.Patrocinador">
        <option value="Adidas">Adidas</option>
        <option value="Nike">Nike</option>
        <option value="Puma">Puma</option>
        <option value="Hummel">Hummel</option>
        <option value="Marathon">Marathon</option>
        <option value="Majid">Majid</option>
        <option value="Kappa">Kappa</option>
        <option value="New Balance">New Balance</option>
        <option value="One All Sports">One All Sports</option>
    </select>
    <span asp-validation-for="@Model.Patrocinador" class="text-danger"></span>

    <label for="Titulos">Títulos: </label>
    <input type="text" id="Titulos" name="Titulos" value="@Model.Titulos" asp-for="@Model.Titulos">
    <span asp-validation-for="@Model.Titulos" class="text-danger"></span>

    <label for="JogadorDeDestaque">Jogador de Destaque: </label>
    <input type="text" id="JogadorDeDestaque" name="JogadorDeDestaque" value="@Model.JogadorDeDestaque" asp-for="@Model.JogadorDeDestaque">
    <span asp-validation-for="@Model.JogadorDeDestaque" class="text-danger"></span>

    <input type="submit" value="Atualizar">
</form>